.categories{
    &__title{
        margin-bottom: 40px;
        &-word{
            color: var(--orange);
        }
        @include for-desktop{
            margin-top: 50px;
        }
        @include for-desktop-HD{
            margin: {
                top: 180px;
                bottom: 80px;
            }
        }
    }
    &__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 30px;
        @include for-desktop{
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        @include for-desktop-HD{
            gap: 70px;
        }
    }
    &__card{
        position: relative;
        width: 220px;
        height: 280px;
        &-img{
            position: absolute;
            top: 0px;
            left: 0px;
            width: 100%;
        }
        &-title{
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            text-align: center;
            margin-bottom: 30px;
            color: white;
        }
    }
}