:root{
    --titleColor: #121212;
    --textColor: #666666;
    --buttonColor: #12121266;
    --secondButtonColor: #666666;
    --orange: #FF6428;
    --mainBgColor: white;
    --secondBgColor: #121212;
    --thirdBgColor: #EEEEEE;
    --gray: gray;
}